header{
    border:1px black solid;
    text-align: center;
    padding:20px;
    background-color:#FFED74;
}

nav{
    border:1px black solid;
    padding:20px;
    background-color:#E8C66A;
    clear: both;
}

ul {
    padding: 2%;
    border: 1px black solid;
    text-align: center;
}

#wrapper{
    padding: 10%;
}

#two_column{
    margin: 2%;
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 2%;
    clear: both;
}

#left{
    margin: 2%;
    background-color: #E582A2;
    border: 1px black solid;
    padding: 2%;
    float: left;
    width: 30%;
}

#right{
    margin: 2%;
    background-color: #E55B88;
    border: 1px black solid;
    padding: 2%;
    float: right;
    width: 62%;
}

.clearfix:after{
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

aside {
    border: 1px black solid;
    padding: 2%;
    background-color:#FFC675;
}
article {
    border: 1px black solid;
    padding: 2%;
    background-color:#E89C6C;
}
footer{
    border:1px solid black;
    padding:2%;
    background-color:#FF957E;
}
div/section{
    border:1px black solid;
    padding:2%;
    background-color:#FFE2B8;
    }


@media screen only (max-width: 500px) {

#two_column{
    float: none;
}

.clearfix{
    float: none;
}

article {
    float: none;
}

}











