head {
	text-align: center;
	background-color: rgb(137,0,0);
	color:(rgb(0,0,0);
	font-family: Calibri;
}

body {
	text-align: center;
	background-color: rgb(137,0,0);
	color: rgb(255,255,255);
	font-family: Calibri;

ul{
	text-align: center;
	list-style-type:none;
}
}